<div class="row"> 
    <div class="offset-10 col-md-2">
      <a routerLink="/companies">Ruturn companies</a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
       <form [formGroup]="update" (ngSubmit)="onUpdate(update.value)"> 
        <div class="table-responsive">
          <table  class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Company name</th>
                <th>Company address</th>
                <th>Country</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="text" readonly="readonly" disabled="disabled" name ="id" id ="id"  formControlName="id"></td>
                <td><input type="text"  name ="name" id ="name" formControlName="name"></td>
                <td><input type="text" name ="address" id ="address" formControlName="address"></td>
                <td><input type="text" name ="country" id ="country" formControlName="country"></td>
                <td><button type="submit" value="Update" id="Update" class="btn btn-success">Update</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
  </div>
</div>
